@model IQueryable<DrinksListingViewModel>

@foreach (var Model in Model)
{
<div class="body col-md-4">
    <div class="card">
        <img class="card-img-top"  src="@Model.ImageUrl" alt="@Model.Name  @Model.LongDescription">
        <div class="card-body">

            <h5 class="card-body"> @Model.LongDescription </h5>

        </div>
        <p class="button ">
        <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.Id">
            Add to cart
        </a>
    </div>
</div>
}

