@using System.Globalization
@model List<DrinksListingViewModel>
<head>
    <link rel="stylesheet" href="~/css/Index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<h1 align="left" style="color: gray">Wellcome to my online shop</h1>
<h2 align="left" style="color: #e0ae70">Here are our top latest drinks</h2>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4 class="nav-link">@Model[0].Name</h4>
                            <p>@Model[0].ShortDescription</p>   <p align="center" style="color: #f25288"> @Model[0].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</p> <br><br>

                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="@Model[0].ImageThumbnailUrl" class="mx-auto" alt="slide"></div>

                    </div>
                    <a id=" cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model[0].Id" data-abc="true">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>@Model[1].Name</h4>
                            <p>@Model[1].ShortDescription</p>   <p align="center" style="color: #f25288"> @Model[1].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</p> <br><br>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="@Model[1].ImageThumbnailUrl" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
                <a id=" cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model[1].Id" data-abc="true">BUY NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>@Model[2].Name</h4>
                            <p>@Model[2].ShortDescription</p>   <p align="center" style="color: #f25288"> @Model[2].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</p> <br><br>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="@Model[2].ImageThumbnailUrl" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
                <a id=" cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model[2].Id" data-abc="true">BUY NOW</a>
            </div>
        </div>

        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>@Model[3].Name</h4>
                            <p>@Model[3].ShortDescription</p>  <p align="center" style="color: #f25288"> @Model[3].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</p> <br><br>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="@Model[3].ImageThumbnailUrl" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
                <a id=" cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model[3].Id" data-abc="true">BUY NOW</a>
            </div>
        </div>



        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>@Model[4].Name</h4>
                            <p>@Model[4].ShortDescription</p>  <p align="center" style="color: #f25288"> @Model[4].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</p> <br><br>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="@Model[4].ImageThumbnailUrl" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
                <a id=" cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model[4].Id" data-abc="true">BUY NOW</a>
            </div>
        </div>

    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<h1 style="color: red">Внимание! Препоръчителен родителски контрол.</h1>
<h1>Продуктите не са препоръчителни за лица под <a style="color: red">18</a> години.</h1>