@using System.Globalization
@model List<DrinksListingViewModel>
<head>
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    
                    
                    
                    <div class="carousel-item active">
                        <img src="@Model[0].ImageThumbnailUrl" alt="@Model[0].Name">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[0].Id" class="btn btn-info ">@Model[0].Name - @Model[0].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>


                    <div class="carousel-item">
                        <img src="@Model[1].ImageThumbnailUrl" alt="Hills">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[1].Id" class="btn btn-info ">@Model[1].Name - @Model[1].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>
                    <div class="carousel-item">
                        <img src="@Model[2].ImageThumbnailUrl" alt="Hills">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[2].Id" class="btn btn-info ">@Model[2].Name - @Model[2].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>
                    <div class="carousel-item">
                        <img src="@Model[3].ImageThumbnailUrl" alt="Hills">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[3].Id" class="btn btn-info ">@Model[3].Name - @Model[3].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>
                    <div class="carousel-item">
                        <img src="@Model[4].ImageThumbnailUrl" alt="Hills">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[4].Id" class="btn btn-info ">@Model[4].Name - @Model[4].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>
                    <div class="carousel-item">
                        <img src="@Model[5].ImageThumbnailUrl" alt="Hills">
                        <h3 class="product-title">
                            <a asp-controller="Drinks" asp-action="Details" asp-route-id="@Model[5].Id" class="btn btn-info ">@Model[5].Name - @Model[5].Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG")) </a>
                        </h3>
                    </div>
                </div>

                <!-- Left right -->

                <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
                <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="@Model[0].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="@Model[1].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="@Model[2].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="@Model[3].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="@Model[4].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="@Model[5].ImageThumbnailUrl" class="img-fluid"> </a> </li>
                </ol>
            </div>
        </div>
    </div>
</div>