@model List<MyOrdersViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" href="~/css/MyOrders.css">
</head>
<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">

                    <div class="cart_title">Orders History<small>  </small></div>
                    <div class="cart_items">
                        @foreach (var item in Model)

                        {
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="@item.ImageUrl" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">@item.DrinkName</div>
                                        </div>
                                        <div class="cart_item_color cart_info_col">
                                            <div class="cart_item_title">Type</div>
                                            <div class="cart_item_text">@item.Category</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">@item.Amount</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">@item.Price.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Purchase date</div>


                                            <div class="cart_item_text">@item.OrderDate </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            @{
                                decimal total = 0;

                                @foreach (var item in Model)
                                {
                                    total += item.Price;
                                }
                                <div class="order_total_title font-weight-bold">Total money spend so far</div>

                                <div class="order_total_amount"> @total.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</div>

                            }

                        </div>
                    </div>


                    <a class="btn btn-primary cart_button_checkout float-left" asp-action="AllDrinks" asp-controller="Drinks">Back to shopping</a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>